  
    <link rel="stylesheet" href="/stylesheets/t10attenc/pagination.css">
    <div>Total Record :<p id="totalRecord"> <%= q1[0].counter %> </p> </div>
    
    <div id="paginationComponent">
        <a id="firstPage" href=""> <<  </a>
        <a id="perviousPage" href=""> < </a>
        <a id="currentPage" href="" > <%= pageCounter %> </a>
        <a id="nextPage" href=""> > </a>
        <a id="lastPage" href=""> >> </a>
    </div>     
    
   
    <script src="/javascripts/t10attenc/paginationResult.js"></script>  
