<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="./stylesheets/t16jsonpl/allPostsStyle.css">
</head>
<body>
    <div id="container1">
    <h1>ALL Posts</h1>
       
    <div id ="inputID" >
        <input type="text" name="searchId" id ="searchId"  placeholder="Enter words for Search"  autofocus >           
        <a  id="submitBtn" class="btnStyle" href="" >Search </a>        
    </div>

        <div id="paginationComponent">
            <a id="firstPage" > <<  </a>
            <a id="perviousPage" > < </a>
            <a id="currentPage"  > 1 </a>
            <a id="nextPage" > > </a>
            <a id="lastPage" > >> </a>
        </div>  
    </div>

    <div id="container">          
    </div>

    <script src="./javascripts/t16jsonpl/allPostsScript.js"></script>   
    <script src="./javascripts/t16jsonpl/pagination.js"></script>
</body>
</html>
