<!DOCTYPE html>
<html>

<head>
  <title>post details</title>
  <link rel='stylesheet' href='/stylesheets/t16jsonpl/postStyle.css' />
  <link rel='stylesheet' href='/stylesheets/t16jsonpl/commentStyle.css' />
</head>

<body style="display: flex;">
  
  <div id="container">
  </div>
  
  
  
  <div id="commnetContainer">
    
    <a id="commentBtn" class="btnStyle"> Show Comments</a>
    
    <div id="showComments" >
    </div>
  </div>


  <script src="/javascripts/t16jsonpl/getPostById.js"></script>
</body>

</html>