<!DOCTYPE html>
<html>

<head>
  <title>TimeZone Cal</title>
  <link rel='stylesheet' href='/stylesheets/t17timezone/style.css' />
</head>

<style>
  .header {
    font-size: 30px;
    top: 5%;

  }
</style>

<body>
  <div class="header">

    @Kasuhal Tarpara<br> 24DEV048

  </div>
  <div class="center">
    <h1>TimeZone Clock City wise</h1>
  </div>
  <div id="inputID" class="center mt500">
    

    <select name="searchCity" id="searchCity" tabindex="1">
      <option value="" hidden disabled selected> Select city </option>
    </select>

    <!-- 
  <select name="searchType" id="searchType" tabindex="1">
    <option value="" hidden disabled selected> -- Select type-- </option>
  </select> -->

    

  </div>

  <div id="resultTime" class="center mt500">
    time
  </div>

  <script src="/javascripts/t17timezone/setcity.js"></script>
</body>

</html>