<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="stylesheets/dashboard.css">
</head>
<body>
    <!-- <div style="  font-size: 30px;  position: absolute ; left:1%;">
        @Kasuhal Tarpara<br> 24DEV048
    </div> -->

    <h1> Welcome to dashboard</h1>


<table class="fl-table">
    <thead>
    <tr>
  <th>Tasks</th>
</tr>
</thead>

 <tr>
    <td> <a href="/dynemicTable">Dynemic Table</a></td>  
</tr>  
<tr>
    <td>
        
        <a href="/cucuCube">cucuCube</a><br>
    </td>
 </tr>  
 <tr>
    <td>        
    <a href="/ticTacToa">Tic-Tac-Toa</a><br>
        
    </td>
 </tr>  
 <tr>
     <td>        
        <a href="/eyesClone">Eyes Clone</a><br>
        
    </td>
 </tr>  
 <tr>
     <td>        
        <a href="/awanHoster">Awan hoster</a><br>
        
    </td>
 </tr>  
 <tr>
    <td>        
        <a href="/hireX">Hire X</a><br>
        
    </td>
 </tr>  
 <tr>
     <td>        
         <a href="/domeBord">domeBord</a><br>
         
        </td>
    </tr>  
    <tr>
        <td>        
            <a href="/getAllUser">File Crud</a><br>
            
        </td>
    </tr>  
    <tr>
        <td>        
            <a href="/t9getAllUser">mysql Crud</a><br>
            
        </td>
    </tr>  
    <tr>
    <td>        
        <a href="/getAllStudentAttendance">student attendance</a><br>
    </td>
    
 </tr>
 <tr>
    <td>        
        <a href="/getAllStudentResult">student Result</a><br>
    </td>
 </tr>  
 <tr>
    <td>        
        <a href="/t11showTabel">dynemic Grid</a><br>
    </td>
 </tr>  


</table>

</body> 
</html>