<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="stylesheets/dashboard.css">
</head>
<body>
    <!-- <div style="  font-size: 30px;  position: absolute ; left:1%;">
        @Kasuhal Tarpara<br> 24DEV048
    </div> -->

    <h1> Welcome to dashboard</h1>


<table class="fl-table">
    <thead>
    <tr>
  <th>Tasks</th>
</tr>
</thead>

 <tr>
    <td> <a target=”_blank” href="/dynemicTable">Dynemic Table</a></td>  
</tr>  
<tr>
    <td>
        
        <a target=”_blank” href="/cucuCube">cucuCube</a><br>
    </td>
 </tr>  
 <tr>
    <td>        
    <a  target=”_blank” href="/ticTacToa">Tic-Tac-Toa</a><br>
        
    </td>
 </tr>  
 <tr>
     <td>        
        <a target=”_blank” href="/eyesClone">Eyes Clone</a><br>
        
    </td>
 </tr>  
 <tr>
     <td>        
        <a target=”_blank” href="/awanHoster">Awan hoster</a><br>
        
    </td>
 </tr>  
 <tr>
    <td>        
        <a target=”_blank” href="/hireX">Hire X</a><br>
        
    </td>
 </tr>  
 <tr>
     <td>        
         <a target=”_blank” href="/domeBord">domeBord</a><br>
         
        </td>
    </tr>  
    <tr>
        <td>        
            <a target=”_blank” href="/getAllUser">File Crud</a><br>
            
        </td>
    </tr>  
    <tr>
        <td>        
            <a target=”_blank” href="/t9getAllUser">mysql Crud</a><br>
            
        </td>
    </tr>  
    <tr>
    <td>        
        <a target=”_blank” href="/getAllStudentAttendance">student attendance</a><br>
    </td>
    
 </tr>
 <tr>
    <td>        
        <a target=”_blank” href="/getAllStudentResult">student Result</a><br>
    </td>
 </tr>  
 <tr>
    <td>        
        <a target=”_blank” href="/t11showTable">dynemic Grid</a><br>
    </td>
 </tr>  
 <tr>
    <td>        
        <a target=”_blank” href="/searchRecord">search Filter</a><br>
    </td>
 </tr> 
 
 <tr>
    <td>        
        <a target=”_blank” href="/delimitedSearch">delimiter Search</a><br>
    </td>
 </tr>

 <tr>
    <td>        
        <a target=”_blank” href="/insertForm">insert student</a><br>
    </td>
 </tr>
 <tr>
    <td>        
        <a  target=”_blank” href="/updateForm/1">update student 1</a><br>
    </td>
 </tr>

 <tr>
    <td>        
        <a target=”_blank” href="/allJobApplicantList">Job form lister</a><br>
    </td>
 </tr>

 <tr>
    <td>        
        <a target=”_blank” href="/posts">json placeholder </a><br>
    </td>
 </tr>
 <tr>
    <td>        
        <a target=”_blank” href="/timeZone">TimeZone </a><br>
    </td>
 </tr>


</table>

</body> 
</html>