<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- <div style="  font-size: 30px;  position: absolute ; left:1%;">
        @Kasuhal Tarpara<br> 24DEV048
    </div> -->

    <h1> Welcome to dashboard</h1>
<li>
    <a href="/dynemicTable">Dynemic Table</a><br>
    <a href="/cucuCube">cucuCube</a><br>
    <a href="/ticTacToa">Tic-Tac-Toa</a><br>
    <a href="/eyesClone">Eyes Clone</a><br>
    <a href="/awanHoster">Awan hoster</a><br>
    <a href="/hireX">Hire X</a><br>
    <a href="/eyesClone">Eyes Clone</a><br>

    
</li>
</body> 
</html>