<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route not found</title>
    <style>
        a{
            font-size: 20px;
            font-family: gilroy;
            gap:10px;
        }
    </style>
</head>
    
<body>
    <h1>No route Like that</h1>

    <h1>Go to below registered routes </h1>
    <% routes.forEach(function(r){
        if (r.route && r.route.path){
         %> 
         <a href=" <%= r.route.path %> "><%= r.route.path %></a><br><br>
         <%
        }
      }) %>
</body>
</html> 