body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
    font-weight: bolder;
    font-size: 25px;
}
table{
    height: 50%;
}


.board td 
{ 
    border: 4px solid; 
    width: fit-content; 
     
}

.board .light { 
    background: #eee; 
}
.board .dark 
{ background: #6e5cc0; 
    color: white;
}