/* some btn style */


.btnStyle {
    background: #f39c12;
    color: #fff;
    padding: 0.35rem 1rem;
    font-size: 18px;
    font-weight: 600;    
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}

.btnStyle:hover {
    background: #fff;
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: #000;
}

.btnStyle2 {
    background: #f39c12;
    color: #fff;
    padding: 5px ;
    text-decoration: none;
    width: max-content;
    
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btnStyle3 {
    background: red;
    color: #fff;
    padding: 5px ;
    text-decoration: none;
    width: max-content;
    
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btnStyle3:hover {
    background: #fff;
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: #000;
    
}
.btnStyle2:hover {
    background: #fff;
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: #000;
}

h2{
    text-align: center;
    
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */


.highlight{
    /* border: 2px solid yellow; */
    background-color: yellow;
    border-radius: 25px; 
    transition: all ease 2s;
}

.Caption{
    background-color: rgba(71, 35, 35, 0.589);
    color: white;
    font-size: 30px;
    border: 3px solid wheat;
    border-radius: 25px;
    padding-top: 5px;
}

.subRow {
    color:black !important;
    background:lightblue !important;
}

.subRow:nth-child(even) {
    color:white !important;
    background:black !important;
}

.total > *{
    background-color: wheat;
}

.fl-table {
    
    border: 3px solid wheat;
    border-radius: 15px; 
    font-weight: normal;   
    
    width: 70%;
    max-width: 100%;
    margin: 100px auto;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}