<p class="text">Enter right Query or test your Query on Workbench other wise remove limit  in your query</p>
<style>
    p {
  font-size: 50px;
  margin: 0 auto;
  background-color:transparent;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  width: 65%;
  font-family:gilroy;
  overflow: hidden;
  border-right: solid 1px;
  animation: typing 5s steps(88)  ;
  animation-delay: 0.4s;
  color: white;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

</style>