  <% if (totalRecord != undefined) { %>
    <link rel="stylesheet" href="./stylesheets/t11dynegrid/pagination.css">
    <div>Total Record :<p id="totalRecord"> <%= totalRecord[0].totalRecord %> </p> </div>
    
    <div id="paginationComponent">
        <a id="firstPage" class="queryParsher"> <<  </a>
        <a id="perviousPage"  class="queryParsher"> < </a>
        <a id="currentPage"  class="queryParsher"> <%= pageCounter %> </a>
        <a id="nextPage"  class="queryParsher"> > </a>
        <a id="lastPage"  class="queryParsher"> >> </a>
    </div>  
     
   
    <script src="/javascripts/t11dynegrid/pagination.js"></script>  
<% } %>