<p class="text">Enter right search value </p>
<style>

.text {
  font-size: 50px;
  margin: 0 auto;    
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 30%;
  
  overflow: hidden;
  border-right: solid 1px;
  animation: typing 3s steps(30)  ;
  animation-delay: 0.4s;
  color: white;
  
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

</style>